# DB setting
spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: jdbc:mysql://localhost:3306/project2?useUnicode=true&characterEncoding=UTF8&characterSetResult=UTF-8&useSSL=true
    username: root
    password: 1234

  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

logging:
  level:
    org.hibernate.sql: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.security.web: trace

server:
  servlet:
    session:
      tracking-modes: cookie

# file upload path
project2.upload.path: upload