
div.nonePage{
  width: 100%;
  height: calc(100vh - 52px);
  background-color: #F9f9f9;
  text-align: center;
  h2{
    margin-top: 12px;
    font-size:20px;
  }
  p{
    font-size: 14px;
    color: #555;
  }
  img{
    width:100px;
    margin-top: 20vh;
    filter: grayscale(50%);
  }
}