/* Study Add Page */ 
div.bodyWrap{
  background-color: #fff;
}
div.StudyAddWrap{
  width: calc(100% - 32px);
  margin-left: 16px;
  padding-bottom: 116px;
  div{
    position: relative;
  }
  h3{
    width: 100%;
    font-size:16px;
    margin-top: 24px;
  }
  input, select{
    width: 100%;
    height: 36px;
    padding:0 10px 0 14px;
    line-height: 36px;
    border-radius: 12px;
    border: 0.5px solid #828282;
    background-color: #fff;
    color:#000;
  }
  input::placeholder{
    color:#dcdcdc;
  }
  input:focus, select:focus, textarea:focus{
    outline: none;
  }
  textarea{
    width: 100%;
    min-height: 150px;
    border-radius: 12px;
    padding:8px 32px 0 14px;
    border: 0.5px solid #828282;
  }
  textarea::placeholder{
    color:#dcdcdc;
  }
}
div.StudyAddImg{
  margin: 0 auto;
  margin-top: 24px;
  width:80px;
  height:80px;
  line-height: 80px;
  border-radius: 80px;
  text-align: center;
  border: 0.5px solid #dcdcdc;
  background-color: #dcdcdc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  label{
    color: #fff;
    cursor: pointer;
  }
  input{
    display: none;
  }
}
img.AdressSearch{
  position: absolute;
  right: 3px;
  bottom: 0.5px;
  cursor: pointer;
}

/* bottom Btn*/
div.bottomBtnWrap{
  position: fixed;
  bottom:0px;
  padding-bottom: 32px;
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  button{
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
    box-shadow: 
          0 0px 6px rgba(0,0,0,0.1);
    margin-top: 32px;
  }
}
// input[type="datetime-local"]::-webkit-calendar-picker-indicator {
//   display: none;
// }
// select {
//   -webkit-appearance: none; /* 크롬, 사파리 */
//   -moz-appearance: none; /* 파이어폭스 */
//   appearance: none; /* 표준 */
// }