/* Main Page */
div.bodyWrap{
  margin:0 auto;
  max-width: 500px;
  width:100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom:0px;
}
/* bottom Btn*/
div.bottomMainBtnWrap{
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 999;
}
div.mainBtnWrap{
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
    button:first-child{
      width:calc(100% - 100px);
      margin-left: 16px;
      border-radius: 12px;
      box-shadow: 
      0 0px 6px rgba(0,0,0,0.1);
    }
    button:last-child{
      width:52px;
      height: 52px;
      margin-left: 16px;
      margin-right: 16px;
      background-color: #000;
      border-radius: 12px;
      position: relative;
      box-shadow: 
      0 0px 6px rgba(0,0,0,0.1);
    }
}

// 레이어 테스트용 map 부착시 삭제
div.Map{
  width: 100%;
  height: calc(100vh - 50px);
  transform: translateY(-2px);
  background-image: url("../../../public/assets/imgs/Maskmap.png");
  background-repeat: no-repeat;
  background-size: cover;
}

// 스터디 토스트 팝업
div.stPopupWrap{
  position: absolute;
  background-color: rgba(255,255,255,1);
  margin: 0 auto;
  max-width: 500px;
  // 클릭전 비활성 상태
  display: none;

  // 하단 버튼 영역 패딩
  padding-bottom: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px -6px 18px 0px  rgba(0,0,0,0.1);
}
img.stPopupClose{
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
div.stPopupContentTop{
  width: calc(100% - 32px);
  margin-left: 16px;
  margin-top: 52px;
  height: 86px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #dcdcdc;
}
div.stPopupImg{
  width: 64px;
  height: 64px;
  background-color: #dcdcdc;
  border-radius: 64px;
  margin-right: 8px;
  // 이미지 적용 시 위치값
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.stPopupTitle {
  width: calc(100% - 180px);
  text-align: left;
  margin-top: 8px;
  overflow: hidden;
  display: block;
  h3, p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h3 {
    font-weight: 600;
    font-size: 18px;
  }

  p {
    font-size: 14px;
    color: #828282;
  }
}

div.stPopupBtn{
  width:80px;
  button{
    margin-top: 0px;
  }
  button:last-child{
    margin-top: 8px;
  }
}
div.stPopupContentBottom{
  width: calc(100% - 32px);
  margin-left: 32px;
  margin-top: 22px;
  text-align: left;
  line-height: 14px;
  div{
    display: flex;
    flex-wrap: wrap;
    h4{
      font-size: 14px;
      font-weight: 600;
      width:60px;
      margin-right: 20px;
    }
    p{
      font-size: 14px;
      width:calc(100% - 80px);
    }
  }
}
p.contentEmail{
  transform: translateY(-6px);
  font-size: 12px;
}
div.stPopupContentButton{
  width: 100%;
  button{
    width: calc(100% - 32px);
    margin-top: 32px;
  }
}
div.addPopupWrap{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0);
  overflow: hidden;
  overflow: scroll;
}
// 팝업 활성화 처리
div.popupActive{
  display: block;
}
div.MyNoticeCount{
  width:20px;
  height:20px;
  background-color: #007BFF;
  border-radius: 100px;
  left: -8px;
  top:-8px;
  position: absolute;
  text-align: center;
  span{
    font-size: 11px;
    line-height: 20px;
    display: block;
  }
}
.scrollLock{
  overflow: hidden;
}
h3.addPopuph3{
  margin-top: 52px;
  font-weight: 600;
  font-size: 18px;
}
p.addPopupp{
  font-size: 14px;
  color: #828282;
}
div.addPopupBtn{
  display: flex;
  width: calc(100% - 32px);
  justify-content: space-between;
  margin: 0 auto;
  button{
    width: calc(50% - 8px);
  }
}