/* My Read Page */ 
div.MyBlockWrap{
  width: 100%;
  height:80px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #dcdcdc;
  div.MyReadImg{
    width: 64px;
    height:64px;
    border-radius: 64px;
    margin-left: 16px;
    margin-right: 20px;
    background-color: #dcdcdc;
    // 이미지 적용 시 위치값
    background-image: url(../../../public/assets/imgs/icon/default_profile_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  div.MyReadTitle{
    width: calc(100% - 198px);
    text-align: left;
    margin-top: 8px;
    h3{
      font-weight: 500;
      font-size: 18px;
    }
    p{
      font-size: 14px;
      color:#828282;
    }
  }
  div.MyReadBtn{
    width:80px;
    margin-top:8px;
    margin-right: 16px;
  }
}
div.MyReadTextWrap{
  background-color: #F8F9FA;
  padding: 22px 0px;
}
div.MyReadText{
  display: flex;
  justify-content: space-between;
  line-height: 14px;
  color:#555;
  h3{
    font-size:14px;
    margin-left: 16px;
    min-width:60px;
    margin-right: 10px;
  }
  p, div{
    width:calc(100% - 102px);
    font-size: 14px;
    margin-right: 16px;
  }
}
div.MyReadUserText{
  width: calc(100% - 32px);
  margin-left:16px;
  margin-top: 32px;
  h2{
    width: 100%;
    height:32px;
    font-size: 16px;
    line-height: 32px;
    margin: 0;
    border-bottom: 0.5px solid #dcdcdc;
  }
  p{
    margin-top: 14px;
    width: 100%;
    font-size: 14px;
  }
}
div.MyReadUserMenu{
  width: calc(100% - 32px);
  margin-left:16px;
  margin-top: 32px;
  h2{
    width: 100%;
    height:32px;
    font-size: 16px;
    line-height: 32px;
    margin: 0;
    border-bottom: 0.5px solid #dcdcdc;
  }
}

div.MenuWrap{
  width: 100%;
  a{
    margin-top: 14px;
    padding-bottom: 8px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.5px solid #dcdcdc;
    h3{
      font-size: 14px;
      color:#000;
    }
    span{
      font-size: 12px;
      color:#dcdcdc;
    }
  }
}