/* My Study List Page */ 
// div.bodyWrap{
//   div.headerWrap{
//     border-bottom: 0.5px solid #fff;
//   }
// }
div.myStListFilter{
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #F8F9FA;
  button{
    color:#555;
    font-size: 14px;
    margin-left: 16px;
    padding: 8px 0px;
    border-bottom: 1px solid #fff ;
    box-sizing: border-box;
    transition: 0.2s;
  }
  button:hover{
    color:#000;
    border-bottom: 1px solid #000 ;
  }
}